#root {
  width: 100%;
  margin: 0;
  padding-left: 100px;
  text-align: center;
}


/* Layout for sidebar + content */
.app-layout {
  display: flex;
  min-height: 100vh;
  background-color: white;
}

.app-content {
  flex: 1;
  padding: 2rem;
  margin-left: 100px; /* Match sidebar width */
}
